<div class="modal fade" tabindex="-1" role="dialog" id="thanks">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">&nbsp;</button>
            <div class="modal-body">
                <div class="text-center">
                    <div class="title">Thank you for your registration!</div>
                    <div class="text">We will send confirmation details to your e-mail!</div>
                    <div class="modal-btn">
                        <button type="button" class="btn btn-red" data-dismiss="modal">Done</button>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->