<div class="modal fade" tabindex="-1" role="dialog" id="video">
    <div class="container">
        <button type="button" class="btn close" data-dismiss="modal" aria-label="Close"><span class="icon-bar"></span><span class="icon-bar"></span></button>
    </div>
    <div class="modal-dialog modal-dialog-video" role="document">
        <div class="modal-video">
            <iframe width="100%" height="100%"  src="https://www.youtube.com/embed/LXxnFFWmKnA?enablejsapi=1&amp;rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->