<div class="modal modal-team fade" tabindex="-1" role="dialog" id="team">
    <div class="modal-team_content" role="document">
        {% include "blocks/about/_person-info.html" %}
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->