<section class="section-about-vision">
    <div class="container">
        <div class="section-about-vision_text">
            <h2>Our vision</h2>
            <div class="text">
                We see a future in which financial markets are made
                up of individuals engaged in free trade; a future, in which big institutions are no longer the gatekeepers and everyone can interact directly with one another. We see security and transparency becoming the cornerstones of every transaction, and individuals taking control of their financial futures.
            </div>
            <div class="box-btn">
                <a href="/" class="link link-more">Lets do the financial future together</a>
            </div>
        </div>
        <div class="section-about-vision_image">
            <img src="images/about/office-table.png" alt="">
            <div class="sub-image">
                <img src="images/about/plant.png" alt="">
            </div>
        </div>
    </div>
</section>