<section class="section-about-team">
    <div class="container">
        <h2>Our team</h2>
        <div class="text">
            Meet the team of professionals this is developing Socium products
        </div>
        <div class="section-about-team_cat">
            <div class="section-about-team_item">
                <div class="image"><img src="images/about/team/avatar-manuela.png" alt=""></div>
                <div class="name">Manuela Sedvartaite</div>
                <div class="text">
                    Co-founder Strategy
                    & Marketing
                </div>
                <div class="links">
                    <a data-target="#team" data-toggle="modal" class="link link-more">More about Manuela</a>
                </div>
            </div>
            <div class="section-about-team_item">
                <div class="image"><img src="images/about/team/avatar-denis.png" alt=""></div>
                <div class="name">Denis Sergeev</div>
                <div class="text">
                    Co-Founder & Product Owner
                </div>
                <div class="links">
                    <a data-target="#team" data-toggle="modal" class="link link-more">More about Denis</a>
                </div>
            </div>
            <div class="section-about-team_item">
                <div class="image"><img src="images/about/team/avatar-ilya.png" alt=""></div>
                <div class="name">Ilya Abugov</div>
                <div class="text">
                    CIO, Analytics & Fintech
                </div>
                <div class="links">
                    <a data-target="#team" data-toggle="modal" class="link link-more">More about Ilya</a>
                </div>
            </div>
            <div class="section-about-team_item">
                <div class="image"><img src="images/about/team/avatar-kazimierz.png" alt=""></div>
                <div class="name">Kazimierz Marcinkiewicz</div>
                <div class="text">
                    Compliance Manager
                    and Advisor
                </div>
                <div class="links">
                    <a data-target="#team" data-toggle="modal" class="link link-more">More about Kazimierz</a>
                </div>
            </div>

            <div class="section-about-team_item">
                <div class="image"><img src="images/about/team/avatar-stan.png" alt=""></div>
                <div class="name">Name</div>
                <div class="text">desk</div>
                <div class="links"><a data-target="#team" data-toggle="modal" class="link link-more">More about Name</a></div>
            </div>
            <div class="section-about-team_item">
                <div class="image"><img src="images/about/team/avatar-jeffrey.png" alt=""></div>
                <div class="name">Name</div>
                <div class="text">desk</div>
                <div class="links"><a data-target="#team" data-toggle="modal" class="link link-more">More about Name</a></div>
            </div>
            <div class="section-about-team_item">
                <div class="image"><img src="images/about/team/avatar-shazad.png" alt=""></div>
                <div class="name">Name</div>
                <div class="text">desk</div>
                <div class="links"><a data-target="#team" data-toggle="modal" class="link link-more">More about Name</a></div>
            </div>
            <div class="section-about-team_item">
                <div class="image"><img src="images/about/team/avatar-ken.png" alt=""></div>
                <div class="name">Name</div>
                <div class="text">desk</div>
                <div class="links"><a data-target="#team" data-toggle="modal" class="link link-more">More about Name</a></div>
            </div>

            <div class="section-about-team_item">
                <div class="image"><img src="images/about/team/avatar-hamid.png" alt=""></div>
                <div class="name">Name</div>
                <div class="text">desk</div>
                <div class="links"><a data-target="#team" data-toggle="modal" class="link link-more">More about Name</a></div>
            </div>
            <div class="section-about-team_item">
                <div class="image"><img src="images/about/team/avatar-valdas.png" alt=""></div>
                <div class="name">Name</div>
                <div class="text">desk</div>
                <div class="links"><a data-target="#team" data-toggle="modal" class="link link-more">More about Name</a></div>
            </div>
            <div class="section-about-team_item">
                <div class="image"><img src="images/about/team/avatar-david.png" alt=""></div>
                <div class="name">Name</div>
                <div class="text">desk</div>
                <div class="links"><a data-target="#team" data-toggle="modal" class="link link-more">More about Name</a></div>
            </div>
            <div class="section-about-team_item">
                <div class="image"><img src="images/about/team/avatar-konstantin.png" alt=""></div>
                <div class="name">Name</div>
                <div class="text">desk</div>
                <div class="links"><a data-target="#team" data-toggle="modal" class="link link-more">More about Name</a></div>
            </div>
        </div>
        <div class="section-about-team_cat">
            <div class="title"><h3>Administration and Management</h3><span class="title_count">7</span></div>

            {% include "blocks/about/_team-item.html" %}
            {% include "blocks/about/_team-item.html" %}
            {% include "blocks/about/_team-item.html" %}
            {% include "blocks/about/_team-item.html" %}
            {% include "blocks/about/_team-item.html" %}
            {% include "blocks/about/_team-item.html" %}
            {% include "blocks/about/_team-item.html" %}
        </div>
        <div class="section-about-team_cat">
            <div class="title"><h3>Development</h3><span class="title_count">8</span></div>

            {% include "blocks/about/_team-item.html" %}
            {% include "blocks/about/_team-item.html" %}
            {% include "blocks/about/_team-item.html" %}
        </div>
        <div class="section-about-team_cat">
            <div class="title"><h3>Design UI/UX</h3><span class="title_count">4</span></div>

            {% include "blocks/about/_team-item.html" %}
            {% include "blocks/about/_team-item.html" %}
            {% include "blocks/about/_team-item.html" %}
            {% include "blocks/about/_team-item.html" %}
        </div>
        <div class="section-about-team_cat">
            <div class="title"><h3>Strategy and Marketing</h3><span class="title_count">3</span></div>

            {% include "blocks/about/_team-item.html" %}
            {% include "blocks/about/_team-item.html" %}
            {% include "blocks/about/_team-item.html" %}
        </div>
    </div>
</section>