.section-about{
  &-intro{
    background: #11193c;
    background: -moz-linear-gradient(top, #11193c 0%, #26346e 100%);
    background: -webkit-linear-gradient(top, #11193c 0%,#26346e 100%);
    background: linear-gradient(to bottom, #11193c 0%,#26346e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11193c', endColorstr='#26346e',GradientType=0 );
    padding: 100px 0 0;
    color: $color_white;
    position: relative;
    &:before{
      content: '';
      background: url("../images/bg-about.png") center top no-repeat;
      position: absolute;
      top:-40px;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .box-btn{
      margin-top: 30px;
    }
    &_point{
      margin-top: 100px;
      margin-bottom: -90px;
      position: relative;
      z-index: 1;
      padding: 60px;
      background: $color_white;
      color: $color_text;
      @include box_shadow(0 6px 14px 0 rgba(5,55,136,0.05));
      @include block_flex;
      @include flex_justify_between;
      @include flex_wrap;
      &-item{
        text-align: center;
        .value{
          font-size: 35px;
          font-weight: 600;
          color: $color_blue_1;
          font-family: $font_family_title;
          margin-bottom: 10px;
        }
      }
    }
  }
  &-vision{
    padding-top: 200px;
    padding-bottom: 60px;
    background: $color_white;
    position: relative;
    .box-btn{
      margin-top: 20px;
    }
    .container{
      @include block_flex;
      @include flex_justify_between;
      @include flex_wrap;
    }
    &_text{
      width: 40%;
      max-width: 390px;
    }
    &_image{
      width: 55%;
      position: relative;
      .sub-image{
        position: absolute;
        bottom:-30px;
        right: -20px;
      }
    }
  }
  &-team{
    padding: 60px 0 30px;
    text-align: center;
    &_cat{
      margin: 0 -20px;
      @include block_flex;
      @include flex_wrap;
      @include flex_justify_center;
      margin-top: 40px;
      .title{
        @include flex_col_full;
        *{
          display: inline-block;
          vertical-align: top;
        }
        &_count{
          height: 24px;
          width: 37px;
          border: 2px solid #CDDBF2;
          border-radius: 12.5px;
          text-align: center;
          line-height: 20px;
          color: #96A8C7;
          font-size: 14px;
          font-weight: bold;
          letter-spacing: 0.88px;
          margin-left: 10px;
        }
      }
    }
    &_item{
      background-color: $color_white;
      padding: 20px 15px 30px;
      margin: 15px;
      display: block;
      width: 255px;
      position: relative;
      .image{
        height: 70px;
        width: 120px;
        background: $bg_footer url("../images/about/noname.svg") no-repeat center;
        color: $bg_footer;
        position: relative;
        margin: 55px auto 35px;
        &:before,
        &:after{
          position: absolute;
          content: '';
          left:0;
          color: inherit;
          border-right: 60px solid transparent;
          border-left: 60px solid transparent;
          display: block;
          width: 0;
          height: 0;
        }
        &:before{
          top:100%;
          border-top: 35px solid;
        }
        &:after{
          bottom:100%;
          border-bottom: 35px solid;
        }
        img{
          position: absolute;
          bottom: -35px;
          left: 0;
          z-index: 1;
        }
      }
      .name{
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 5px;
        padding-top: 15px;
      }
      .text{
        line-height: 1.3125;
        font-weight: normal;
      }
      .links{
        margin-top: 10px;
        white-space: nowrap;
        a{
          opacity: 0;
        }
      }
      &:hover{
        @include box_shadow(0 6px 14px 0 rgba(5,55,136,0.05));
        .links{
          a{
            opacity: 1;
          }
        }
      }
      &-info{
        max-width: 547px;
        margin: 0 auto;
        padding: 10px 60px 55px;
        @include box_shadow(0 2px 14px 0 rgba(5,55,136,0.05));
        background: $color_white;
        z-index: 5;
        text-align: left;
        position: relative;
        .cross{
          position: absolute;
          top:0;
          right:0;
          padding: 15px;
          z-index: 1;
          margin: 10px 15px;
        }
        .image{
          width: 180px;
          margin:80px 0 50px;
          height: 100px;
          background: $color_blue_1 url("../images/about/noname.svg") no-repeat center;
          color: $color_blue_1;
          position: relative;
          &:after,&:before{
            border-right: 90px solid transparent;
            border-left: 90px solid transparent;
            position: absolute;
            content: '';
            left:0;
            color: inherit;
            display: block;
            width: 0;
            height: 0;
          }
          &:after{
            border-bottom: 50px solid;
            bottom:100%;
          }
          &:before{
            border-top: 50px solid;
            top:100%;
          }
          img{
            position: absolute;
            bottom: -55px;
            left: 0;
            z-index: 1;
          }
        }
        .name{
          font-family: $font_family_title;
          font-size: 35px;
          font-weight: 600;
          margin-bottom: 10px;
          padding-top: 25px;
        }
        .position{
          font-size: 16px;
          font-weight: 300;
          margin-bottom: 20px;
        }
        .text-small{
          line-height: 1.85;
        }
        .social{
          margin-top: 30px;
          .link{
            color: $color_blue_1;
            line-height: 20px;
            margin-right: 30px;
            .icon{
              background-color: $color_blue_1;
              border-radius: 3px;
              margin-right: 5px;
            }
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
@media(max-width: 940px) {
  .section-about{
    &-intro_point{
      margin-bottom: -65px;
      padding: 30px;
    }
    &-vision{
      padding-top: 125px;
    }
  }

}
@media(max-width: 767px) {
  .section-about{
    &-intro{
      padding-top: 75px;
      padding-bottom: 30px;
      &_point{
        padding: 20px;
        margin: 30px -10px 0;
        &-item{
          width: 30%;
          .value{
            font-size: 18px;
            margin: 0;
          }
          .text{
            font-size: 10px!important;
            line-height: 1.2;
          }
        }
      }
    }
    &-vision{
      padding-bottom: 0;
      padding-top: 30px;
      &_text{
        width: 100%;
      }
      &_image{
        width: auto;
        margin: 30px -20px 0;
      }
    }
    &-team{
      padding:30px 0;
      &_cat{
        margin-top: 20px;
      }
      &_item{
        margin: 5px;
        .links{
          a{
            opacity: 1;
          }
        }
      }
    }
  }
}
@media(max-width: 580px) {
  .section-about-team_item-info{
    padding: 10px 20px 20px;
    box-shadow: none;
    max-width: 100%;
  }
}