<section class="section-about-intro">
    <div class="container">
        <h1>We are Socium</h1>
        <div class="text">
            Our mission is to equip traders and investors with the most comprehensive suite <br/>
            of instruments for cooperating and profiting from the market.
        </div>
        <div class="box-btn">
            <a href="apply.html" class="btn btn-lg btn-primary">Join Us <i class="icon icon-arrow icon-hover"></i></a>
        </div>
        <div class="section-about-intro_point">
            <div class="section-about-intro_point-item">
                <div class="value">300k +</div>
                <div class="text">Users are waiting for release</div>
            </div>
            <div class="section-about-intro_point-item">
                <div class="value">$45 bln.</div>
                <div class="text">Investment will be attraction</div>
            </div>
            <div class="section-about-intro_point-item">
                <div class="value">60+</div>
                <div class="text">Emloyes in all world</div>
            </div>

        </div>
    </div>
</section>