<div class="section-about-team_item-info">
    <a class="cross" data-dismiss="modal"><i class="icon icon-cross"></i></a>
    <div class="image"><img src="images/about/team/avatar-manuela.png" alt=""></div>
    <div class="name">Manuela Sedvartaite</div>
    <div class="position">Co-founder Strategy & Marketing</div>
    <div class="text-small">
        Ilya’s strengths are in management, analysis, and strategy. He comes from a quantitative investments background, and has also worked in international management consulting. Ilya has managed product development in the fintech, ecommerce, telecom and healthcare, including ICO-related projects. He has served in various senior management positions and consulted earlystage startups. Ilya’s experience as an investment professional allows him to understand the needs of traders and investors.
    </div>
    <div class="social">
        <a href="/" class="link"><i class="icon icon-share-in"></i>Linkedin</a>
        <a href="/" class="link"><i class="icon icon-share-fb"></i>Facebook</a>
    </div>
</div>