<div class="section-about-team_item">
    <div class="image"></div>
    <div class="name">Hamid Azzawe</div>
    <div class="text">Technology Advisor</div>
    <div class="links">
        <a data-target="#team" data-toggle="modal" class="link link-more">More about Illya</a>
    </div>
</div>