$font_family: 'Roboto', Arial, Helvetica, sans-serif;
$font_family_title: 'Montserrat', Arial, Helvetica, sans-serif;
$color_white: #ffffff;
$color_black: #000000;
$color_gray_1: #333333;
$color_green_1: #78c214;
$color_red_1: #d0021c;
$color_yellow_1: #ffdd2b;
$color_blue_1: #064CBE;
$color_blue_2: #043788;
$color_blue_3: #447BFF;
$color_text:#263858;
$color_title:#172444;
$color_link:#15161C;

$bg_footer:#F3F6FC;

$border_color_1:#CDD7E7;
$border_color_2:#F1F3F7;

@mixin bg_gradient(){
  background: #2261DC;
  background: -moz-linear-gradient(top, #2261DC 0%, #447BFF 100%);
  background: -webkit-linear-gradient(top, #2261DC 0%,#447BFF 100%);
  background: linear-gradient(to bottom, #2261DC 0%,#447BFF 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2261DC', endColorstr='#447BFF',GradientType=0 );
}

body{
  font-family: $font_family;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: normal;
  background-color: $color_white;
  min-height: 400px;
  min-width: 320px;
  color: $color_text;
}
html,body{
  width: 100%;
}
input,button,textarea,select{
  font-family:$font_family;
  font-size: 14px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
}
img{
  vertical-align: top;
  max-width: 100%;
}
a{
  cursor: pointer;
  color: $color_link;
  text-decoration: none;
  @include web_transition(all .2s ease-in-out);
  &:hover{
    color: $color_blue_1;
  }
}
.under a, a.under{
  text-decoration: underline;
}
.under a:hover, a.under:hover{
  text-decoration: none;
}
b, .bold{
  font-weight: bold;
}
i,.italic{
  font-style: italic;
}
.upper{
  text-transform: uppercase;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}
h1, .h1{
  font-size: 35px;
}
h2, .h2{
  font-size: 35px;
}
h3, .h3{
  font-size: 20px;
}
h4, .h4{
  font-size: 18px;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4{
  line-height: 1.2;
  margin: 0;
  padding-bottom: 0.5em;
  font-family: $font_family_title;
  font-weight: 600;
}
.dotted{
  border-bottom: 1px dotted;
}
.dashed{
  border-bottom: 1px dashed;
}
.super{
  vertical-align: super;
  font-size: 11px;
}
.caret{
  color: inherit;
  border-top: 5px solid;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  display: block;
  width: 0;
  height: 0;
}
.arrow{
  width: 6px;
  height: 6px;
  @include web_transform(rotate(-45deg));
  border-right: 2px solid #064cbe;
  border-bottom: 2px solid #064cbe;
  display: inline-block;
  vertical-align: middle;
  margin-top: 6px;
}
.box-inline{
  display: inline-block;
  vertical-align: top;
}
.btn{
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
  background:none;
  cursor: pointer;
  @include web_transition(all 0.2s ease-in-out);
}
.container{
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}
.flexible{
  @include block_flex;
  @include flex_justify_between;
  @include flex_wrap;
}
/*colors*/
.grey{
  color: $color_gray_1;
}
.black{
  color: $color_black;
}
.white{
  color: $color_white;
}
.blue{
  color: $color_blue_1;
}
.red{
  color: $color_red_1;
}
.yellow{
  color: $color_yellow_1;
}
.green{
  color: $color_green_1;
}

/*CONTENT*/
html,
body{
  position: relative;
}
.wrapper{
  width: 100%;
  position: relative;
}
.main{
  overflow-y: visible;
  overflow-x: hidden;
}
.text{
  font-size: 16px;
  font-weight: 300;
  line-height: 1.625;
  p{
    &:not(:last-child){
      margin-bottom: 0.75em;
    }
  }
  &-small{
    font-size: 14px;
    line-height: 1.5;
  }
}