.btn{
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  padding:10px;
  line-height: normal;
  border-radius: 0;
  position: relative;
  border:1px solid;
  &-sm{
    font-size: 12px;
  }
  &-full{
    width: 100%;
  }
  &.disabled,
  &:disabled{
    background: #e0e0e5;
    color:$color_gray_1;
  }
  &-lg{
    min-width: 195px;
    font-size: 14px;
    padding: 16px;
    font-weight: 600;
  }
  &-primary{
    @include bg_gradient;
    color: $color_white;
    border: 0;
    font-family: $font_family_title;
    .icon-hover{
      width: 0;
      opacity: 0;
      @include web_transition(all .2s ease-in-out);
    }
    &:hover{
      color: $color_white;
      @include box_shadow(inset 0 -10px 50px rgba(0,0,0,0.1));
      .icon-hover{
        width: 25px;
        opacity: 1;
        margin-left: 5px;
      }
    }
  }
  &-menu{
    border: 0;
    padding: 8px 15px;
    line-height: 2px;
    text-align: right;
    width: 52px;
    .icon-bar{
      display: inline-block;
      vertical-align: top;
      background: $color_blue_1;
      width: 22px;
      height: 2px;
      @include web_transition(all .2s ease-in-out);
      &+.icon-bar{
        margin-top: 5px;
      }
      &:nth-child(2){
        //width: 18px;
      }
      &:nth-child(3){
        //width: 20px;
      }
    }
    &.open{
      .icon-bar{
        &:first-child {
          @include web_transform(translateY(7px) rotate(45deg));
          width: 100%;
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          @include web_transform(translateY(-7px) rotate(-45deg));
          width: 100%;
        }
      }
    }
  }
}
.link{
  display: inline-block;
  vertical-align: top;
  &-underline{
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
  &.white{
    color: $color_white;
    svg{
      g{
        stroke: $color_white;
      }
    }
  }
  &-more{
    color: $color_blue_1;
    font-size: 14px;
    position: relative;
    line-height: 16px;
    .arrow-icon {
      width: 16px;
      height: 16px;
      margin-left: 7px;
      position: relative;
      -webkit-transition: -webkit-transform 0.3s ease;
      transition: -webkit-transform 0.3s ease;
      transition: transform 0.3s ease;
      transition: transform 0.3s ease, -webkit-transform 0.3s ease;
      vertical-align: middle;
    }

    .arrow-icon--circle {
      transition: stroke-dashoffset .3s ease;
      stroke-dasharray: 95;
      stroke-dashoffset: 95;
    }

    &:hover {
      .arrow-icon {
        transform: translate3d(5px, 0, 0);
      }

      .arrow-icon--circle {
        stroke-dashoffset: 0;
      }
    }
  }
}