.icon{
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  &-left{
    margin-right: 5px;
  }
  &-right{
    margin-left:5px;
  }
  &-middle{
    vertical-align: middle;
    margin-top: -2px;
  }
  &-playvideo{
    width: 38px;
    height: 42px;
    background-image: url("../images/icon/playvideo.svg");
  }
  &-address{
    width: 30px;
    height: 20px;
    background-image: url("../images/icon/address.svg");
  }
  &-email{
    width: 30px;
    height: 20px;
    background-image: url("../images/icon/email.svg");
  }
  &-phone{
    width: 30px;
    height: 20px;
    background-image: url("../images/icon/phone.svg");
  }
  &-social{
    width: 25px;
    height: 25px;
    &-fb{
      background-image: url("../images/socialicons/facebook.svg");
    }
    &-tw{
      background-image: url("../images/socialicons/twitter.svg");
    }
    &-li{
      background-image: url("../images/socialicons/linkedin.svg");
    }
    &-tel{
      background-image: url("../images/socialicons/telegram.svg");
    }
    &-md{
      background-image: url("../images/socialicons/medium.svg");
    }
    &-bt{
      background-image: url("../images/socialicons/bitcointalk.svg");
    }
    &-gh{
      background-image: url("../images/socialicons/github.svg");
    }
    &-rt{
      background-image: url("../images/socialicons/reddit.svg");
    }
  }
  &-share{
    width: 30px;
    height: 30px;
    &-fb{
      background-image: url("../images/share/share-fb.svg");
    }
    &-tw{
      background-image: url("../images/share/share-tw.svg");
    }
    &-in{
      background-image: url("../images/share/share-in.svg");
    }
    &-mail{
      background-image: url("../images/share/share-mail.svg");
    }
  }
  &-arrow{
    height: 20px;
    width: 25px;
    background: url("../images/icon/arrow_white.svg") no-repeat center;
  }
  &-attachment{
    height: 25px;
    width: 25px;
    background-image: url("../images/icon/attach.svg");
  }
  &-longarrow{
    height: 16px;
    width: 30px;
    background: url("../images/icon/longarrow.svg") no-repeat center;
  }
  &-map{
    height: 41px;
    width: 36px;
    background: url("../images/icon/map-pointer.svg") no-repeat center;
  }
  &-cross{
    width: 15px;
    height:15px;
    position: relative;
    &:after,
    &:before{
      @include after-element(0,50%);
      width: 1px;
      height: 100%;
      background: $color_blue_1;
      @include web_transform(rotate(45deg));
    }
    &:before{
      @include web_transform(rotate(-45deg));
    }
  }

}