@media(min-width: 1025px) {
  .hide-desktop {
    display: none;
  }
}

@media(max-width: 1024px) {
  .hide-tablet {
    display: none;
  }
}

@media(min-width: 768px) {
  .show-mobile {
    display: none !important;
  }
}

@media(max-width: 767px) {
  .hide-mobile {
    display: none;
  }
  h1,h2{
    font-size: 20px;
  }
  .text{
    font-size: 13px!important;
    font-weight: normal;
  }
}