.tab-pane{
  display: none;
  &.active{
    display: block;
  }
}
.flag{
  display: inline-block;
  vertical-align: middle;
  margin-top:-2px;
  width: 17px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  -webkit-background-size: 100% auto;
  &-lt{
    background-image: url("../images/lang/lt.png");
  }
  &-ua{
    background-image: url("../images/lang/ua.png");
  }
  &-ru{
    background-image: url("../images/lang/ru.png");
  }
  &-by{
    background-image: url("../images/lang/by.png");
  }
}
.dropdown{
  position: relative;
  .href-dropdown{
    position: relative;
    @include block_flex;
    @include flex_justify_between;
    .arrow,
    .caret{
      @include web_transition(all .2s ease-in-out);
    }
  }
  .menu-dropdown{
    display: none;
    position: absolute;
    top:100%;
    left:0;
    z-index: 10;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    min-width: 120px;
    margin-top: 5px;
    background: $color_white;
    &.right{
      right: 0;
      left:inherit;
    }
    a{
      padding: 5px 10px;
      display: block;
      &.active{
        background: $bg_footer;
      }
    }
  }
  &.open{
    .href-dropdown{
      .arrow{
        @include web_transform(rotate(45deg));
      }
      .caret{
        @include web_transform(rotate(180deg));
      }
    }
  }
}