.form{
  &-name{
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid $border_color_1;
    margin-bottom: 30px;
    padding-bottom: 10px;
  }
  &-group{
    margin-bottom: 20px;
    &-line{
      @include block_flex;
      @include flex_justify_between;
      @include flex_wrap;
      .form-input{
        width: 46%;
      }
    }
  }
  &-btn{
    margin-top: 55px;
  }
  &-text{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  &-input{
    position: relative;
  }
  &-control{
    background: $color_white;
    margin: 0;
    font-size: 14px;
    color: $color_text;
    outline: none;
    width: 100%;
    border: 0;
    border-bottom: 2px solid $border_color_1;
    vertical-align: top;
    line-height: normal;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-clip: padding-box;
    padding: 16px 0;
    height: 50px;
    &:disabled{
      background: $color_gray_1;
      color: $color_white;
    }
    .focus &,
    &:focus{
      border-color:$color_blue_2;
    }
    &::-webkit-input-placeholder{
      color: rgba($color_text,0.5);
    }
    &:-moz-placeholder{
      color: rgba($color_text,0.5);
    }
    &:-ms-input-placeholder{
      color: rgba($color_text,0.5);
    }
    .error &,
    &.error{
      border-color: $color_red_1;
    }
    &.valid{
      border-color: $color_green_1;
    }
    &.warning{
      border-color:$color_yellow_1;
    }
    &-label{
      font-size: 14px;
      color: rgba($color_text,0.5);
      position: absolute;
      top:0;
      left:0;
      padding: 16px 0;
      @include web_transition(all .3s ease-in-out);
      pointer-events: none;
      .focus &{
        font-size: 10px;
        padding: 0;
        color: rgba($color_text,0.5)!important;
        line-height: 1;
      }
    }
    &-answer{
      font-size: 14px;
      padding: 16px 0;
      color: $color_text;
      display: block;
      border-color: transparent;
    }
    &:hover{
      &~.form-control-label{
        color: $color_text;
      }
    }
    &:focus{
      &~.form-control-label{
        font-size: 10px;
        padding: 0;
        color: rgba($color_text,0.5);
        line-height: 1;
      }
    }
  }
}
textarea.form-control{
  resize: vertical;
  max-height: 300px;
  min-height: 88px;
}

.box-inputfile{
  position: relative;
}
.box-inputfile .inputfile{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile+ label{
  display: block;
  padding: 0.75em 0;
  height: 3.1em;
  font-size: 14px;
  padding-left: 30px;
  color: $color_gray_1;
  cursor: pointer;
}
.inputfile:focus + label,
.inputfile.has-focus + label,
.inputfile+ label:hover {
  color: $color_text;
}
.inputfile + label .no-select{
  text-decoration: underline;
}
.inputfile + label small{
  font-size:14px;
  opacity: 0.5;
  color: $color_blue_1;
  margin-top: 7px;
  display: inline-block;
  vertical-align: top;
}
.inputfile + label .error{
  color: $color_red_1;
  opacity: 1;
}
.inputfile + label span{
  width: 100%;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: $color_text;
  vertical-align: top;
  font-size: 14px;
  position: relative;
}
.inputfile + label strong {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 5px;
}
.inputfile + label .selected{
  color: $color_text;
  position: relative;
  width: auto;
  max-width: 100%;
  padding-right: 25px;
  &:after{
    content: '';
    width: 19px;
    height: 19px;
    position: absolute;
    right: 0;
    top:50%;
    margin-top: -8px;
    background: url("../images/icon/cross.png") no-repeat center;
  }
}
@media(max-width: 620px) {
  .form{
    &-btn{
      margin-top: 30px;
    }
    &-group{
      &-line{
        .form-input{
          width: 100%;
          &+.form-input{
            margin-top: 20px;
          }
        }
      }
    }
  }
}