.section-contact{
  text-align: center;
  background: $bg_footer;
  padding: 40px 0;
  &_item{
    display: inline-block;
    vertical-align: top;
    padding: 0 15px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
  }
}
@media(max-width: 767px) {
  .section-contact{
    padding: 10px 0;
    &_item{
      margin-top: 10px;
      font-size: 13px;
      line-height: 20px;
      display: block;
      margin-bottom: 10px;
      .icon{
        display: none;
      }
    }
  }
}
.page-contact{
  padding-top: 90px;
  text-align: center;
  margin-bottom: -135px;
  .box-btn{
    margin: 40px 0 65px;
  }
  &_item{
    display: inline-block;
    vertical-align: top;
    line-height: 20px;
    margin: 15px 7px 0;
    font-size: 16px;
    font-weight: 300;
  }
  &_address{
    @include block_flex;
    @include flex_justify_between;
    @include flex_wrap;
    margin-bottom: -20px;
    &-item{
      padding: 30px 25px 25px;
      background: $color_white;
      @include box_shadow(0 6px 14px 0 rgba(5,55,136,0.05));
      line-height: 26px;
      width: 22.5%;
      display: block;
      cursor: pointer;
      .town{
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.88px;
        font-family: $font_family_title;
        line-height: 1;
        margin-bottom: 12px;
      }
      .phone{
        font-weight: 600;
      }
      &:hover{
        background: rgba($bg_footer,0.5);
        color: $color_text;
      }
      &.active{
        background: $bg_footer;
      }

    }
  }
  &_map{
    height: 956px;
    width: 100%;
    position: relative;
    background: rgba($bg_footer,0.5);
    z-index: -1;
  }
}
@media(max-width: 1170px) {
  .page-contact{
    &_map{
      height: 600px;
    }
  }
}
@media(max-width: 940px) {
  .page-contact{
    &_address{
      &-item{
        padding: 20px 15px 15px;
      }
    }
    &_map{
      height: 500px;
    }
  }
}
@media(max-width: 767px) {
  .page-contact{
    padding-top: 40px;
    .box-btn{
      margin-bottom: 40px;
    }
    &_address{
      margin-left: -10px;
      margin-right: -10px;
      &-item{
        width: 100%;
        @include block_flex;
        @include flex_wrap;
        @include flex_justify_between;
        padding: 10px 20px;
        &+&{
          margin-top: 10px;
        }
        .town{
          margin-bottom: 0;
          line-height: inherit;
        }
        .address{
          text-align: left;
          @include flex_col_full;
        }
      }
    }
    &_map{
      height: 400px;
    }
  }
}