<div class="page-contact">
    <div class="container">
        <h2>Contact us</h2>
        <div class="page-contact_item">
            <i class="icon icon-email"></i>info@sociumtrade.com
        </div>
        <div class="page-contact_item">
            <i class="icon icon-phone"></i>+370 693 92 010
        </div>
        <div class="box-btn">
            <a href="request.html" class="btn btn-lg btn-primary">Send a request <i class="icon icon-arrow icon-hover"></i></a>
        </div>
        <div class="page-contact_address">
            <a class="page-contact_address-item scroll-page" href="#map">
                <div class="town">Vilnus</div>
                <div class="phone">+370 693 92 010</div>
                <div class="address">
                    212011, Lithuania, Vilnius, Konstitucijos g. 15, 7 floor
                </div>
            </a>
            <a class="page-contact_address-item scroll-page" href="#map">
                <div class="town">Minsk</div>
                <div class="phone">+370 693 92 010</div>
                <div class="address">
                    212011, Belarus, Minsk,
                    1st Radiatornyi 23
                </div>
            </a>
            <a class="page-contact_address-item scroll-page" href="#map">
                <div class="town">MOGILEV</div>
                <div class="phone">+370 693 92 010</div>
                <div class="address">
                    14556, Belarus, Mogilev,
                    Pozharnyj lane 3a
                </div>
            </a>
            <a class="page-contact_address-item scroll-page" href="#map">
                <div class="town">KIEV</div>
                <div class="phone">+370 693 92 010</div>
                <div class="address">
                    212011, Lithuania, Vilnius, Konstitucijos g. 15, 7 floor
                </div>
            </a>
        </div>
    </div>
    <div class="page-contact_map" id="map">
        <div style="padding: 40px">
            <i class="icon icon-map"></i><br>
            use it https://snazzymaps.com/build-a-map <br>
            with gray style <br>
            https://snazzymaps.com/style/151/ultra-light-with-labels <br>
            you'll need to register here <br>
            image for map point image/icon/map-pointer.svg

        </div>
    </div>
</div>