<section class="section-contact" id="contact">
    <div class="container">
        <h2>Contact us</h2>
        <div class="section-contact_item">
            <i class="icon icon-address"></i>Vilnius, Konstitucijos g. 15, 7 floor
        </div>
        <div class="section-contact_item">
            <i class="icon icon-email"></i>info@sociumtrade.com
        </div>
        <div class="section-contact_item">
            <i class="icon icon-phone"></i>+370 693 92 010
        </div>
    </div>
</section>