<section class="section-subscribe" id="contact">
    <div class="container">
        <div class="section-subscribe_form">
            <form class="form" action="subscribe.html">
                <div class="form-input focus error">
                    <input type="text" class="form-control" value="blabla">
                    <label class="form-control-label">
                        Incorrect e-mail
                    </label>
                </div>
                <div class="form-input">
                    <button type="submit" class="btn btn-primary btn-lg">Subscribe</button>
                </div>
            </form>
        </div>
        <div class="section-subscribe_form">
            <form class="form" action="subscribe.html">
                <div class="form-input focus">
                    <input type="text" class="form-control" value="aleksei@sociumt|">
                    <label class="form-control-label">
                        E-mail adress
                    </label>
                </div>
                <div class="form-input">
                    <button type="submit" class="btn btn-primary btn-lg">Subscribe</button>
                </div>
            </form>
        </div>
        <div class="section-subscribe_form">
            <form class="form" action="subscribe.html">
                <div class="form-input">
                    <label class="form-control form-control-answer">
                        All good! Check your inbox.
                    </label>
                </div>
                <div class="form-input">
                    <button type="submit" class="btn btn-primary btn-lg">Ok</button>
                </div>
            </form>
        </div>
    </div>
</section>