<section class="section-subscribe" id="contact">
    <div class="container">
        <div class="section-subscribe_form">
            <div class="section-subscribe_form-text">
                <h2>Newsletter</h2>
                <div class="text">
                    We will keep you up to date with our progress
                    and products development.
                </div>
            </div>
            <form class="form" action="subscribe.html">
                <div class="form-input">
                    <input type="text" class="form-control">
                    <label class="form-control-label">
                        E-mail adress
                    </label>
                </div>
                <div class="form-input">
                    <button type="submit" class="btn btn-primary btn-lg">Subscribe</button>
                </div>
            </form>
        </div>
    </div>
</section>