.section-subscribe{
  padding-bottom: 25px;
  position: relative;
  &:before{
    @include after-element(50%,0);
    width: 100%;
    height: 50%;
    background: $bg_footer;
  }
  &_form{
    background-color:$color_white;
    @include box_shadow(0 6px 14px 0 rgba(5,55,136,0.05));
    padding: 40px 60px;
    @include block_flex;
    @include flex_align_item_center;
    @include flex_wrap;
    @include flex_justify_between;
    &-text{
      max-width: 340px;
    }
    .form{
      @include block_flex;
      &-input{
        &+.form-input{
          margin-left: 40px;
        }
      }
      &-control{
        width: 254px;
      }
    }
  }
}
@media(max-width: 767px) {
  .section-subscribe{
    &_form{
      padding: 20px 20px 25px;
      margin: 0 -12px;
      text-align: center;
      &-text{
        max-width: 100%;
        width: 100%;
        margin-bottom: 10px;
      }
      .form{
        display: block;
        width: 100%;
        &-input{
          width: 360px;
          margin: 0 auto;
          max-width: 100%;
          &+.form-input{
            margin-top: 15px;
            margin-left: auto;
          }
          .btn{
            width: 100%;
          }
        }
        &-control{
          width: 100%;
        }
      }
    }
  }
}