.section-career{
  padding-top: 60px;
  padding-bottom: 30px;
  &-list{
    @include block_flex;
    @include flex_justify_between;
    @include flex_wrap;
    margin-top: 55px;
    &_item{
      background: $bg_footer;
      padding: 36px;
      position: relative;
      height: 212px;
      text-align: left;
      width: 254px;
      max-width: 24%;
      display: block;
      margin-bottom: 10px;
      @include web_transition(background .2s ease-in-out);
      h3{
        color: $color_title;
      }
      &:hover{
        @include bg_gradient;
        color: $color_white;
        h3{
          color: $color_white;
        }
      }
      .place{
        position: absolute;
        bottom:0;
        left: 0;
        padding: inherit;
      }
      .flag{
        margin-right: 5px;
      }
    }
  }
}
@media(max-width: 940px) {
  .section-career-list_item{
    padding: 20px;
    height: 180px;
  }
}
@media(max-width: 767px) {
  .section-career{
    padding-top: 30px;
    padding-bottom: 0;
    text-align: center;
    &-list{
      margin-top: 20px;
      margin-left: -12px;
      margin-right: -12px;
      &_item{
        max-width: 100%;
        width: 100%;
        padding: 20px 20px 15px;
        font-size: 13px;
        height: auto;
        position: relative;
        &:after{
          width: 25px;
          height: 25px;
          background-image: url("../images/icon/arrow.svg");
          position: absolute;
          content: '';
          top:50%;
          right: 10px;
          margin-top: -12px;
        }
        h3{
          font-size: 14px;
        }
        .place{
          position: relative;
          padding: 5px 0 0;
        }
      }
    }
  }
}
.page-career{
  &-intro{
    background-color: $color_blue_1;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    -webkit-background-size: cover;
    -ms-background-size: cover;
    padding: 75px 0;
    min-height: 272px;
    color: $color_white;
    text-align: center;
    position: relative;
    &.large{
      padding: 190px 0;
    }
    &_bg{
      position: absolute;
      width: 100%;
      height: 100%;
      top:0;
      left:0;
      &:before{
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        right: 38%;
        opacity: 0.2;
        top:0;
        background: url("../images/bg-career.svg") center no-repeat;
      }
      &:after{
        @include after-element(0,35%);
        width: 100%;
        height: 100%;
        background: url("../images/bg-career.svg") center 15% no-repeat;
        opacity: 0.3;
        background-size: auto 185%;
        -webkit-background-size: auto 185%;
        -ms-background-size: auto 185%;
      }
    }
    .info{
      font-size: 14px;
      margin-bottom: 15px;
      a{
        color: rgba($color_white,0.5);
      }
      .icon{
        opacity: 0.5;
      }
    }
  }
  &-list{
    padding-top: 0;
    padding-bottom: 80px;
    &_filter{
      @include box_shadow(0 6px 14px 0 rgba(5,55,136,0.05));
      background: $color_white;
      text-align: center;
      padding: 25px;
      margin-bottom: 100px;
      margin-top: -40px;
      .dropdown{
        display: none;
        .href-dropdown{
          margin: 0;
          font-weight: bold;
          color: $color_title;
          font-size: 15px;
          padding: 20px 15px;
        }
        .menu-dropdown{
          width: 100%;
          margin: 0;
          border-radius: 0;
          text-align: left;
          a{
            padding: 10px 15px;
            border-top:1px solid $bg_footer;
          }
        }
      }
      .full-nav{
        a{
          display: inline-block;
          vertical-align: top;
          margin: 0 20px;
          padding: 7px 10px 4px;
          color: rgba($color_text,0.5);
          border-bottom: 3px solid transparent;
          &:hover{
            color: $color_blue_1;
          }
          &.active{
            color: $color_text;
            border-color: $color_blue_3;
          }
        }
      }

    }
    &_cat{
      @include block_flex;
      @include flex_justify_between;
      @include flex_wrap;
      margin-top: 60px;
      &-title{
        width: 25%;
        padding-top: 20px;
        max-width: 195px;
      }
      &-item{
        width: 70%;
      }
    }
    &_position{
      width: 100%;
      color: $color_text;
      border-top: 2px solid transparent;
      border-bottom: 2px solid $bg_footer;
      @include block_flex;
      @include flex_justify_between;
      @include flex_wrap;
      padding: 27px 32px;
      &:hover{
        color: $color_text;
        background: $bg_footer;
        border-color: $bg_footer;
      }
      .name{
        font-weight: bold;
      }
      .flag{
        margin-right: 5px;
      }
      .details{
        &_town{
          width: 180px;
          margin-right: 20px;
          display: inline-block;
          vertical-align: top;
        }
      }
    }

  }
  &-good{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px;
    &-list{
      @include block_flex;
      @include flex_wrap;
      @include flex_justify_between;
      padding: 30px 0 25px;
      &_item{
        width: 31%;
        background: $bg_footer;
        padding:35px;
        margin: 15px 0;
        .image{
          margin: 10px 0 30px;
          height: 70px;
          img{
            max-height: 100%;
          }
        }
      }
    }
    &-event{
      background: url("../images/bg-holiday.jpg") no-repeat center;
      background-size: cover;
      -webkit-background-size: cover;
      -ms-background-size: cover;
      color: $color_white;
      text-align: left;
      position: relative;
      overflow: hidden;

      &_text{
        max-width: 550px;
        padding: 80px 60px;
        position: relative;
        .text{
          margin-bottom: 20px;
        }
        *{
          position: relative;
          z-index: 2;
        }
        &:after{
          @include after-element(0,-10%);
          height: 100%;
          width: 115%;
          opacity: 0.8;
          @include web_transform(skewX(15deg));
          background-color: $color_blue_1;
          z-index: 1;
        }
        &:before{
          @include after-element(0,-10%);
          height: 100%;
          width: 115%;
          opacity: 0.8;
          @include web_transform(skewX(-15deg));
          background-color: $color_blue_3;
        }
      }
    }

  }
  &_item{
    padding-bottom: 20px;
    @include block_flex();
    &-content{
      padding-right: 40px;
      padding-top: 60px;
    }
    &-cat{
      margin-bottom: 40px;
      @include block_flex();
      @include flex_justify_between;
      @include flex_wrap;
      .title{
        width: 30%;
      }
      .text{
        width: 62%;
        font-size: 14px;
        line-height: 26px;
        font-weight: normal;
        ul{
          li{
            margin-bottom:1em;
            position: relative;
            &:after{
              @include after-element(11px,-15px);
              height: 4px;	width: 4px;
              background: $color_blue_1;
              border-radius: 50%;
            }
          }
        }
      }
    }
    &-nav{
      -ms-flex: 0 0 225px;
      flex: 0 0 225px;
      margin-top: -30px;
      &_link{
        padding: 30px;
        line-height: 26px;
        text-align: center;
        @include box_shadow(0 6px 14px 0 rgba(5,55,136,0.05));
        background: $color_white;
        .box-link{
          margin: 10px 0 20px;
          .btn{
            font-weight: 600;
          }
        }
      }
      &_social{
        background: $bg_footer;
        @include box_shadow(0 6px 14px 0 rgba(5,55,136,0.05));
        padding: 30px;
        text-align: center;
        .title{
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 0.88px;
          font-family: $font_family_title;
          text-transform: uppercase;
        }
        .title-mobile{
          display: none;
        }
        .link{
          margin: 14px 3px 0;
          @include bg_gradient;
          border-radius: 50%;
          line-height: 30px;
          color: $color_white;
          width: 30px;
          height: 30px;
        }
      }
    }
  }
  &-apply{
    padding-bottom: 90px;
    &_form{
      background-color: #FFFFFF;
      @include box_shadow(0 6px 14px 0 rgba(5,55,136,0.05));
      max-width:644px;
      padding: 55px 50px;
      margin-top: -30px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
@media (min-width: 1601px) {
  .page-career{
    .container{
      position: static;
    }
    &.fix{
      .page-career_item-nav{
        top: 110px;
        position: fixed;
      }
    }
    &_item{
      &-content{
        padding-right: 180px;
      }
      &-nav{
        position: absolute;
        right:  10%;
        width: 250px;
        z-index: 1;
      }
    }
  }
}
@media (min-width: 768px) and  (max-width: 1600px){
.page-career{
  .container{
    position: static;
  }
  &.fix{
    .page-career_item-nav{
      top: 110px;
      position: fixed;
    }
  }
  &_item{
    &-content{
      padding-right: 300px;
    }
    &-nav{
      position: absolute;
      right:  20px;
      width: 250px;
      z-index: 1;
    }
  }
}
}
@media (max-width: 940px){
  .page-career{
    &-intro{
      &.large{
        padding: 75px 0;
      }
    }
    &-list{
      padding-bottom: 30px;
      &_filter{
        margin-bottom: 30px;
      }
      &_cat{
        margin-top: 30px;
        &-title{
          max-width: 100%;
          width: 100%;
          padding-top: 0;
          br{
            display: none;
          }
        }
        &-item{
          width: 100%;
        }
      }
      &_position{
        padding-left: 0;
        padding-right: 0;
        &:hover{
          background: none;
          border-top-color: transparent;
        }
      }
    }
    &-good-list_item{
      padding: 20px;
    }
    &_item{
      &-content{
        padding-top: 30px;
      }
      &-cat{
        .title,.text{
          width: 100%;
        }
        .text{
          ul{
            li{
              padding-left: 15px;
              &:after{
                left: 3px;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 767px){
  .page-career{
    &-intro{
      padding: 50px 0;
      &.large{
        padding: 50px 0;
      }
      @include block_flex;
      @include flex_align_item_center;
      h1{
        font-size: 25px;
      }
      .text{
        font-size: 14px;
      }
    }
    &-good{
      text-align: left;
      padding-top: 0;
      padding-bottom: 15px;
      &-list{
        padding: 15px 0 3px;
        margin: 0 -14px;
        &_item{
          width: 100%;
          margin: 3px 0;
          padding-left: 104px;
          position: relative;
          .image{
            position: absolute;
            top:50%;
            left: 0;
            margin-top: -35px;
            width: 104px;
            text-align: center;
          }
          h3{
            font-size: 15px;
          }
        }
      }
      &-event{
        margin: 0 -14px;
        padding-top: 250px;
        background: $color_blue_1;
        &:before{
          @include after-element(0,0);
          width: 100%;
          height: 280px;
          background: url("../images/bg-holiday.jpg") no-repeat top right;
          background-size: auto 100%;
          -webkit-background-size: auto 100%;
          -ms-background-size: auto 100%;
        }
        &_text{
          padding: 25px 20px;
          max-width: 100%;
          &:after,&:before{
            width: 100%;
            height: 150%;
            top: -5%;
            left: 0;
          }
          &:after{
            @include web_transform(skewY(10deg));
          }
          &:before{
            @include web_transform(skewY(-10deg));
            background: $color_blue_1;
          }
        }
      }
    }
    &-list{
      &_filter{
        padding: 0;
        margin-top: -30px;
        margin-left: -10px;
        margin-right: -10px;
        margin-bottom: 0;
        .dropdown{
          display: block;
        }
        .full-nav{
          display: none;
        }
      }
      &_position{
        display: block;
        padding: 15px 0;
        position: relative;
        :after {
          width: 25px;
          height: 25px;
          background-image: url(../images/icon/arrow.svg);
          position: absolute;
          content: '';
          top: 50%;
          right: -10px;
          margin-top: -12px;
        }
        .details{
          .link-more{
            display: none;
          }
          &_town{
            margin-top: 10px;
          }
        }
      }
    }
    &_item{
      display: block;
      position: relative;
      &-content{
        padding-right: 0;
        padding-top: 60px;
      }
      &-cat{
        margin-bottom: 30px;
      }
      &-nav{
        &_link{
          @include box_shadow(none);
          .btn-full{
            max-width: 360px;
          }
        }
        &_social{
          position: absolute;
          top:-30px;
          left:0;
          width: 100%;
          padding: 15px 10px;
          line-height: 30px;
          @include block_flex;
          @include flex_justify_between;
          background: $color_white;
          -webkit-box-sizing: content-box;
          -moz-box-sizing: content-box;
          box-sizing: content-box;
          margin: 0 -10px;
          .title{
            display: none;
          }
          .title-mobile{
            display: block;
            margin-left: 15px;
          }
          .links{
            margin-right: 10px;
          }
          .link{
            margin-top: 0;
            @include web_transform(scale(0.8));
          }
        }
      }
    }
    &-apply{
       padding-bottom: 30px;
     }
  }
}
@media (max-width: 620px){
  .page-career{
    &-apply{
      &_form{
        padding: 25px 20px;
        margin-left:-10px;
        margin-right:-10px;
      }
    }
  }
}