<div class="page-career-good">
    <div class="container">
        <h2>You are in good company</h2>
        <div class="text">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
            <br/>
            Aenean massa. Cum sociis natoque penatibus et magnis.
        </div>
        <div class="page-career-good-list">
            <div class="page-career-good-list_item">
                <div class="image"><img src="images/benefits/english.svg" alt=""></div>
                <div class="name"><h3>English lessons</h3></div>
                <div class="text-small">Free English courses in the office</div>
            </div>
            <div class="page-career-good-list_item">
                <div class="image"><img src="images/benefits/sport.svg" alt=""></div>
                <div class="name"><h3>Sport compensations</h3></div>
                <div class="text-small">The company compensates for sports
                    - 50% of the total amount</div>
            </div>
            <div class="page-career-good-list_item">
                <div class="image"><img src="images/benefits/massage.svg" alt=""></div>
                <div class="name"><h3>Massage in office</h3></div>
                <div class="text-small">Massage in the office 3 times a week
                    50% paid by the company</div>
            </div>
            <div class="page-career-good-list_item">
                <div class="image"><img src="images/benefits/education.svg" alt=""></div>
                <div class="name"><h3>Education</h3></div>
                <div class="text-small">The company compensates conferences, training courses and professional trainings</div>
            </div>
            <div class="page-career-good-list_item">
                <div class="image"><img src="images/benefits/health.svg" alt=""></div>
                <div class="name"><h3>Health insurance</h3></div>
                <div class="text-small">Medical insurance for employees.</div>
            </div>
            <div class="page-career-good-list_item">
                <div class="image"><img src="images/benefits/dayoff.svg" alt=""></div>
                <div class="name"><h3>3 day off</h3></div>
                <div class="text-small">Each employee has the right 3 days a year day off paid by the company</div>
            </div>
        </div>
        <div class="page-career-good-event">
            <div class="page-career-good-event_text">
                <h2>Corporate events and holidays</h2>
                <div class="text">
                    Corporate events: Social events with local and international team (team building, entertainment, etc.) Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                </div>
                <a class="link link-more white">Join our team</a>
            </div>

        </div>
    </div>
</div>