<div class="page-career-intro large" style="background-image: url('images/bg-careers.png');">
    <div class="container">
        <h1>Let's create a financial future together!</h1>
        <div class="text">We are looking for talented people. To create a financial future together!</div>
    </div>
</div>