<div class="page-career-list">
    <div class="container">
        <div class="page-career-list_filter">
            <div class="dropdown">
                <a class="link href-dropdown"><span class="change-value">All categories</span> <i class="arrow"></i></a>
                <div class="menu-dropdown right">
                    <a class="link active">All categories</a>
                    <a class="link">Marketing</a>
                    <a class="link">Community & Support</a>
                    <a class="link">Administration</a>
                </div>
            </div>
            <div class="full-nav">
                <a href="#" class="active">All</a>
                <a href="#">Marketing</a>
                <a href="#">Community & Support</a>
                <a href="#">Administration</a>
            </div>
        </div>
        <div class="page-career-list-results">
            <div class="page-career-list_cat">
                <div class="page-career-list_cat-title"><h3>Marketing jobs</h3></div>
                <div class="page-career-list_cat-item">
                    <a class="page-career-list_position" href="career.html">
                        <div class="name">Digital Content Writer</div>
                        <div class="details">
                            <div class="details_town"><span class="flag flag-ua"></span> Kiev, Ukraine</div>
                            <span class="link link-more">Job details</span>
                        </div>
                    </a>
                    <a class="page-career-list_position" href="career.html">
                        <div class="name">Marketing Manager</div>
                        <div class="details">
                            <div class="details_town"><span class="flag flag-lt"></span> Lithuania, Vilnius</div>
                            <span class="link link-more">Job details</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="page-career-list_cat">
                <div class="page-career-list_cat-title"><h3>Community <br/> & Support jobs</h3></div>
                <div class="page-career-list_cat-item">
                    <a class="page-career-list_position" href="career.html">
                        <div class="name">Digital Content Writer</div>
                        <div class="details">
                            <div class="details_town"><span class="flag flag-ua"></span> Kiev, Ukraine</div>
                            <span class="link link-more">Job details</span>
                        </div>
                    </a>
                    <a class="page-career-list_position" href="career.html">
                        <div class="name">Marketing Manager</div>
                        <div class="details">
                            <div class="details_town"><span class="flag flag-lt"></span> Lithuania, Vilnius</div>
                            <span class="link link-more">Job details</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="page-career-list_cat">
                <div class="page-career-list_cat-title"><h3>Administration jobs</h3></div>
                <div class="page-career-list_cat-item">
                    <a class="page-career-list_position" href="career.html">
                        <div class="name">Digital Content Writer</div>
                        <div class="details">
                            <div class="details_town"><span class="flag flag-ua"></span> Kiev, Ukraine</div>
                            <span class="link link-more">Job details</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>