<div class="page-career">
    <div class="container">
        <div class="page-career_item">
            <div class="page-career_item-content">
                <div class="page-career_item-cat">
                    <div class="title"><h3>Job Description</h3></div>
                    <div class="text">
                        We are looking for motivated customer support and social media specialist.
                        SociumTrade aims to consistently deliver educational, engaging, and exciting experience to all
                        of our current and future customers. You’ll have to understand the customer journey with an
                        ability to quickly articulate the major customer problems/ concerns and actively brainstorm ways to
                        solve these challenges.
                    </div>
                </div>
                <div class="page-career_item-cat">
                    <div class="title"><h3>Tasks:</h3></div>
                    <div class="text">
                        <ul>
                            <li>Liaise with Marketing colleagues to develop compelling, creative social media assets which support global campaigns</li>
                            <li>Liaise with Marketing colleagues to develop compelling, creative social media assets which support global campaigns</li>
                            <li>Liaise with Marketing colleagues to develop compelling, creative social media assets which support global campaigns</li>
                            <li>Liaise with Marketing colleagues to develop compelling, creative social media assets which support global campaigns</li>
                        </ul>
                    </div>
                </div>
                <div class="page-career_item-cat">
                    <div class="title"><h3>Requirements:</h3></div>
                    <div class="text">
                        <ul>
                            <li>Liaise with Marketing colleagues to develop compelling, creative social media assets which support global campaigns</li>
                            <li>Liaise with Marketing colleagues to develop compelling, creative social media assets which support global campaigns</li>
                            <li>Liaise with Marketing colleagues to develop compelling, creative social media assets which support global campaigns</li>
                            <li>Liaise with Marketing colleagues to develop compelling, creative social media assets which support global campaigns</li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="page-career_item-nav">
                <div class="page-career_item-nav_link">
                    Sounds like talking about you?
                    <div class="box-link">
                        <a href="apply.html" class="btn btn-primary btn-lg btn-full">Apply this job!</a>
                    </div>
                    Or say hello to our HR manager
                    <b>hr@socium.net</b>
                </div>
                <div class="page-career_item-nav_social">
                    <div class="title">Share this job</div>
                    <div class="title-mobile">Share:</div>
                    <div class="links">
                        <a href="#" class="link"><i class="icon icon-share icon-share-fb"></i></a>
                        <a href="#" class="link"><i class="icon icon-share icon-share-tw"></i></a>
                        <a href="#" class="link"><i class="icon icon-share icon-share-in"></i></a>
                        <a href="#" class="link"><i class="icon icon-share icon-share-mail"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>