<div class="page-career-intro">
    <div class="page-career-intro_bg"></div>
    <div class="container">
        <div class="info"><a href="careers.html">Careers</a> <i class="icon icon-longarrow"></i> <a href="career.html">Job details</a></div>
        <h1>Social Media & Customer Support Specialist application</h1>
    </div>
</div>