<div class="page-career-intro">
    <div class="page-career-intro_bg"></div>
    <div class="container">
        <div class="info"><a href="contact.html">Contacts</a> <i class="icon icon-longarrow"></i> Send request</div>
        <h1>We are happy to answer any of your questions</h1>
    </div>
</div>