<div class="page-career-intro">
    <div class="page-career-intro_bg"></div>
    <div class="container">
        <div class="info"><a href="careers.html">Careers</a> <i class="icon icon-longarrow"></i> Job details</div>
        <h1>Social Media & Customer Support Specialist</h1>
        <div class="text">Kiev, Ukraine   •   Full-time   •   15 may 2018</div>
    </div>
</div>