<div class="page-career-apply">
    <div class="container">
        <div class="page-career-apply_form">
            <h2>Send request</h2>
            <form class="form" action="/">
                <div class="form-group">
                    <div class="form-group-line">
                        <div class="form-input">
                            <input type="text" class="form-control">
                            <label class="form-control-label">
                                Your name
                            </label>
                        </div>
                        <div class="form-input">
                            <input type="text" class="form-control">
                            <label class="form-control-label">
                                Your e-mail
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-input">
                        <textarea class="form-control"></textarea>
                        <label class="form-control-label">
                            Message
                        </label>
                    </div>
                </div>
                <div class="form-btn">
                    <div class="form-group-line">
                        <div class="form-input">
                            <div class="box-inputfile">
                                <input type="hidden" name="ResumeFile[file]" value=""><input type="file" id="file-7" class="inputfile inputfile-6 vacancy-resume" name="ResumeFile[file]" accept="application/msword,text/plain,application/pdf,text/rtf" data-multiple-caption="{count} files selected">

                                <label for="file-7">
                           <span>
                               <p class="no-select">Add file</p>
                               <small>PDF, DOC file not more than 10 mb.</small>
                           </span>
                                    <strong>
                                        <i class="icon icon-attachment"></i>
                                    </strong>
                                </label>
                            </div>
                        </div>
                        <div class="form-input text-right">
                            <button type="submit" class="btn btn-primary btn-lg">Send</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>