<section class="section-career" id="career">
    <div class="container">
        <h2>We will make great products together. Join us! </h2>
        <div class="text">
            We will add great members, in order to guarantee the timely achievement of project milestones.
        </div>
        <div class="section-career-list">
            <a class="section-career-list_item">
                <h3>Senior Python Programmer</h3>
                <div class="place"><span class="flag flag-by"></span>Belarus, Minsk</div>
            </a>
            <a class="section-career-list_item">
                <h3>General Producer</h3>
                <div class="place"><span class="flag flag-lt"></span> Vilnius, Lithuania</div>
            </a>
            <a class="section-career-list_item">
                <h3>Programmer, Core</h3>
                <div class="place"><span class="flag flag-ru"></span> Moscow, Russia</div>
            </a>
            <a class="section-career-list_item">
                <h3>Branch Director</h3>
                <div class="place"><span class="flag flag-ua"></span> Ukraine, Kiev</div>
            </a>
        </div>
    </div>
</section>