<section class="section-team" id="about">
    <div class="container">
        <div class="section-team_text">
            <h2>Great Team<br/>
                for Great Products</h2>
            <div class="text">
                <p>
                    We see a future in which financial markets are made up of individuals engaged in free trade; a future, in which big institutions are no longer the gatekeepers and everyone can interact directly with one another.
                </p>
                <p>
                    We see security and transparency becoming the cornerstones of every transaction, and individuals taking control of their financial futures.
                </p>
            </div>
            <div class="box-btn">
                <a href="about.html" class="btn btn-primary btn-lg">About us <i class="icon icon-arrow icon-hover"></i></a>
            </div>
        </div>
    </div>
    <div class="section-team-list">
        <div class="section-team-list_item small"><img src="images/team/team8.png" alt=""></div>
        <div class="section-team-list_item small"><img src="images/team/team18.png" alt=""></div>
        <div class="section-team-list_item small"><img src="images/team/team11.png" alt=""></div>
        <div class="section-team-list_item"><img src="images/team/team6.png" alt=""></div>
        <div class="section-team-list_item small"><img src="images/team/team14.png" alt=""></div>
        <div class="section-team-list_item"><img src="images/team/team17.png" alt=""></div>
        <div class="section-team-list_item small"><img src="images/team/team3.png" alt=""></div>

        <div class="section-team-list_item"><img src="images/team/team10.png" alt=""></div>
        <div class="section-team-list_item"><img src="images/team/team16.png" alt=""></div>
        <div class="section-team-list_item small"><img src="images/team/team22.png" alt=""></div>
        <div class="section-team-list_item"><img src="images/team/team2.png" alt=""></div>
        <div class="section-team-list_item small"><img src="images/team/team13.png" alt=""></div>
        <div class="section-team-list_item"><img src="images/team/team20.png" alt=""></div>
        <div class="section-team-list_item small"><img src="images/team/team19.png" alt=""></div>

        <div class="section-team-list_item"><img src="images/team/team7.png" alt=""></div>
        <div class="section-team-list_item small"><img src="images/team/team9.png" alt=""></div>
        <div class="section-team-list_item"><img src="images/team/team1.png" alt=""></div>
        <div class="section-team-list_item small"><img src="images/team/team21.png" alt=""></div>
        <div class="section-team-list_item"><img src="images/team/team4.png" alt=""></div>
        <div class="section-team-list_item small"><img src="images/team/team12.png" alt=""></div>
        <div class="section-team-list_item"><img src="images/team/team5.png" alt=""></div>

        <div class="section-team-list_item small"><img src="images/team/team15.png" alt=""></div>


    </div>
</section>