.section-team{
  position: relative;
  padding: 100px 0;
  &:before{
    @include after-element(-160px,0);
    width: 100%;
    height: 1150px;
    background: url("../images/bg-team.svg") center no-repeat;
    z-index: -1;
  }
  &:after{
    @include after-element(250px,0);
    width: 100%;
    height: 750px;
    z-index: 0;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
  }
  .container{
    z-index: 2;
  }
  &_text{
    .text{max-width: 475px;font-size: 14px;line-height: 1.85;font-weight: 400;}
    .box-btn{
      margin-top: 40px;
    }
  }
  &-list{
    @include block_flex;
    @include flex_justify_between;
    @include flex_wrap;
    margin-top: -50px;
    padding: 0 30px;
    position: relative;
    z-index: 1;
    &_item{
      width: 14%;
      img{
        width: 100px;
      }
      &.small{
        img{width: 77px;}
      }
      &:nth-child(1){margin-top: 15px;}
      &:nth-child(2){margin-top: 60px;width: 25%;text-align: center;}
      &:nth-child(3){margin-top: 30px;width: 10%;}
      &:nth-child(4){width: 10%;}
      &:nth-child(5){width: 10%;margin-top: 15px;text-align: right;}
      &:nth-child(6){margin-top: 60px;text-align: right;}
      &:nth-child(7){text-align: right;width: 10%;}

      &:nth-child(8){width: 20%;margin-top: -30px;text-align:center;}
      &:nth-child(9){}
      &:nth-child(10){width: 10%;margin-top: -15px;}
      &:nth-child(11){width: 10%;margin-top: -30px;}
      &:nth-child(14){text-align: center;}

      &:nth-child(15){}
      &:nth-child(16){width: 10%;}
      &:nth-child(17){margin-top: 60px;width: 10%;}
      &:nth-child(18){width: 10%;margin-top: -15px;}
      &:nth-child(20){text-align: right;}
      &:nth-child(21){text-align: right;}
      &:nth-child(22){text-align: right;}
    }
  }
}
@media(max-width: 1400px) {
  .section-team-list{
    margin-top: -20px;
    &_item{
      &:nth-child(1){margin-top: 30px;}
    }
  }
}
@media(max-width: 767px) {
  .section-team{
    padding-top: 30px;
    padding-bottom: 0;
    &:before{
      background-size: auto 80%;
      -webkit-background-size: auto 80%;
      top:-250px;
    }
    h2{
      br{
        display: none;
      }
    }
    .box-btn{
      margin-top: 20px;
      .btn-lg{
        font-weight: 500;
      }
    }
    &-list{
      margin-top: 0;
      padding: 0 5px;
      &_item{
        img{
          max-width: 50px;
        }
        &:nth-child(2){width: 14%;}
        &:nth-child(6){margin-top: -55px;}
        &:nth-child(3){width: 14%;}
        &:nth-child(4){width: 14%;}
        &:nth-child(6){width: 10%;}
        &:nth-child(7){width: 14%;}
        &:nth-child(10){margin-top: 15px;}
        &:nth-child(11){margin-top: -45px;}
        &:nth-child(13){margin-top: -30px;}
        &:nth-child(14){margin-top: 15px;}
        &:nth-child(15){margin-top: -35px;}
        &:nth-child(18){margin-top: 25px;}
        &:nth-child(19){text-align: right;margin-top: -10px;}
        &:nth-child(20){margin-top: 15px;}
        &:nth-child(21){margin-top: -10px;}
        &:nth-child(22){margin-top: 40px;}
      }
    }
  }
}