<div class="footer-extend-nav">
    <div class="container">
        <div class="footer-extend-nav_item">
            <div class="title">PRODUCTS</div>
            <ul>
                <li><a href="">SociumLend</a></li>
                <li><a href="">SociumTrade</a></li>
                <li><a href="">SociumHEX</a></li>
                <li><a href="">BrokerGram</a></li>
                <li><a href="">SociumGift</a></li>
            </ul>
        </div>
        <div class="footer-extend-nav_item">
            <div class="title">Open positions</div>
            <ul>
                <li><a href="">Senior Python Programmer</a></li>
                <li><a href="">General Producer</a></li>
                <li><a href="">Programmer, Core</a></li>
                <li><a href="">Branch Director</a></li>

                <li><a href="careers.html" class="link link-more">All positions</a></li>
            </ul>
        </div>
        <div class="footer-extend-nav_item">
            <div class="title">RESOURCES</div>
            <ul>
                <li><a href="">Whitepaper</a></li>
                <li><a href="">FAQ</a></li>
                <li><a href="">Privacy policy</a></li>
                <li><a href="">Terms of use</a></li>
            </ul>
        </div>
        <div class="footer-extend-nav_item last-mobile">
            <div class="title">Contacts</div>
            <ul>
                <li>Vilnius, Konstitucijos g. 15, 7 floor</li>
                <li>info@sociumtrade.com</li>
                <li>+370 693 92 010</li>

                <li><a href="contact.html" class="link link-more">Contact us</a></li>
            </ul>
        </div>
    </div>
</div>