.footer{
  text-align: center;
  line-height: 26px;
  background: $bg_footer;
  color: rgba(#053788,0.3);
  .flexible{
    padding: 25px 0;
    border-top: 1px solid $border_color_1;
    >div{
      padding: 5px 0;
    }
  }
  &-nav{
    a{
      text-decoration: underline;
      color: rgba(#053788,0.3);
      &:hover{
        color: #053788;
      }
    }
  }
  &-social{
    a{
      margin-left: 12px;
      opacity: 0.3;
      &:hover{
        opacity: 0.99;
      }
    }
  }
  &-partner{
    img{
      vertical-align: middle;
      margin-left: 10px;
    }
  }
  &-extend-nav{
    background: $bg_footer;
    padding: 40px 0 35px;
    line-height: 35px;
    color:#637089;
    .container{
      @include block_flex;
      @include flex_justify_between;
    }
    .title{
      font-family: $font_family_title;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.88px;
      margin-bottom: 10px;
      text-transform: uppercase;
      line-height: normal;
      color: $color_text;
    }
    a{
      &:not(.link){
        color:#637089;
        &:hover{
          color: $color_blue_1;
        }
      }
    }
    .link-more{
      margin-top: 10px;
    }
  }
}
@media(max-width: 767px) {
  .footer{
    font-size: 12px;
    padding-bottom: 15px;
    .flexible{
      border: 0;
      padding: 0;
      @include flex_column_reverse;
      >div{
        width: 100%;
      }
    }
    &-social{
      margin-bottom: 10px;
      a{
        margin:0 3px;
      }
    }
    &-partner{
      margin-bottom: 10px;
    }
    &-extend-nav{
      padding: 30px 0 15px;
      text-align: center;
      font-size: 13px;
      line-height: 30px;
      .title{
        font-size: 20px;
        text-transform: none;
        font-weight: 600;
        letter-spacing: normal;
      }
      &_item{
        display: none;
        &.last-mobile{
          display: block;
          @include flex_col_full;
          .link-more{
            display: none;
          }
        }
      }
    }
  }
}