    <footer class="footer">
        <div class="container">
            <div class="flexible">
                <div class="footer-copy">Copyright © 2018 Sociumnet.com</div>
                <!--<div class="footer-nav"><a href="/">Privacy policy</a> •  <a href="/">Terms of use</a></div>-->
                <div class="footer-social">
                    <a class="link"><i class="icon icon-social icon-social-fb"></i></a>
                    <a class="link"><i class="icon icon-social icon-social-tw"></i></a>
                    <a class="link"><i class="icon icon-social icon-social-li"></i></a>
                    <a class="link"><i class="icon icon-social icon-social-tel"></i></a>
                    <a class="link"><i class="icon icon-social icon-social-md"></i></a>
                    <a class="link"><i class="icon icon-social icon-social-bt"></i></a>
                    <a class="link"><i class="icon icon-social icon-social-gh"></i></a>
                    <a class="link"><i class="icon icon-social icon-social-rt"></i></a>
                </div>
                <div class="footer-partner">
                    In partnership with <a class="link" href="https://asseco.com/" target="_blank"><img src="images/asseco-logo.svg" alt="asseco"/></a>
                </div>
            </div>
        </div>
    </footer>

