.section-intro{
  padding: 100px 0;
  text-align: center;
  position: relative;
  &:before{
    @include after-element(-60px,0);
    width: 100%;
    height: 1150px;
    background: url("../images/bg-intro.svg") 25% top no-repeat;
    opacity: 0.5;
  }
  .text{
    max-width: 600px;
    margin: 0 auto;
  }
  &_video{
    padding: 40px 0;
    &-link{
      font-weight: bold;
      font-size: 14px;
      color: $color_text;
      font-family: $font_family_title;
      line-height: 42px;
      letter-spacing: 1px;
      .icon{
        margin-right: 0.75em;
        @include web_transform(scale(1));
        @include web_transition(all .2s ease-in-out);
      }
      &:hover{
        .icon{
          @include web_transform(scale(1.2));
        }
      }
    }
  }
  &_image{
    margin-top: 80px;
    position: relative;
    z-index: 1;
  }
}
@media(max-width: 767px) {
  .section-intro{
    padding-bottom: 70px;
    &_image{
      margin-top: 15px;
    }
  }
}