<section class="section-intro">
    <div class="container">
        <h1>We are building the financial future — block by block</h1>
        <div class="text">
            We see security and transparency becoming the cornerstones of every transaction,
            and individuals taking control of their financial futures.
        </div>
        <div class="section-intro_video">
            <a class="section-intro_video-link" data-target="#video" data-toggle="modal"><i class="icon icon-playvideo"></i>PLAY VIDEO</a>
        </div>
    </div>
    <div class="section-intro_image">
        <img src="images/intro.svg" alt="">
    </div>
</section>