<section class="section-tech">
    <div class="container">
        <h2>Key technologies</h2>
        <div class="text">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
        </div>
        <div class="section-tech-list">
            <img src="images/tech/kafka.png" alt="">
            <img src="images/tech/blockchain.png" alt="">
            <img src="images/tech/ethereum.png" alt="">
            <img src="images/tech/eos.png" alt="">
        </div>
    </div>
</section>