.section-tech{
  padding: 40px 0 50px;
  text-align: center;
  &-list{
    img{
      margin: 30px;
    }
  }
}
@media(max-width: 920px) {
  .section-tech{
    &-list{
      img{
        margin: 20px;
        height: 45px;
      }
    }
  }
}

@media(max-width: 767px) {
  .section-tech{
    padding-top: 30px;
    padding-bottom: 15px;
    &-list{
      margin: 10px -20px;
      img{
        margin: 12px;
        height: 25px;
      }
    }
  }
}