<header class="header">
    <div class="container">
        <div class="flexible">
            <a class="header-logo" href="index.html"><img src="images/logo.svg"></a>
            <div class="header-nav" id="navbar">
                <div class="header-nav_content">
                    <ul class="nav">
                        <li><a class="link scroll-page" href="#product">Products</a></li>
                        <li><a class="link scroll-page" href="#about">About</a></li>
                        <li><a class="link" href="careers.html">Careers</a></li>
                        <!--<li class="active"><a class="link scroll-page" href="#career">Careers</a></li>-->
                        <li><a class="link scroll-page" href="#contact">Contacts</a></li>
                    </ul>
                    <div class="header-social">
                        <a class="link"><i class="icon icon-social icon-social-fb"></i></a>
                        <a class="link"><i class="icon icon-social icon-social-tw"></i></a>
                        <a class="link"><i class="icon icon-social icon-social-li"></i></a>
                        <a class="link"><i class="icon icon-social icon-social-tel"></i></a>
                        <a class="link"><i class="icon icon-social icon-social-md"></i></a>
                        <a class="link"><i class="icon icon-social icon-social-bt"></i></a>
                        <a class="link"><i class="icon icon-social icon-social-gh"></i></a>
                        <a class="link"><i class="icon icon-social icon-social-rt"></i></a>
                    </div>
                </div>
            </div>
            <div class="header-menu">
                <a class="btn btn-menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
            </div>
        </div>
    </div>
</header>