header{
  text-align: center;
}
.header{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  line-height: 50px;
  z-index: 10;
  padding: 10px 0;
  background: $color-white;
  border-bottom:1px solid $border_color_2;
  &~.main{
    padding-top: 70px;
  }
  &-logo{
    text-transform: uppercase;
    font-size: 20px;
    img{
      vertical-align: middle;
      height: 40px;
    }
  }
  &-nav{
    li{
      display: inline-block;
      vertical-align: top;
      margin: 0 20px;
      position: relative;
      font-size: 14px;
      font-weight: 500;
      font-family: $font_family_title;
      a{
        position: relative;
      }
      &.active{
        a{
          color: $color_blue_1;
        }
      }
    }
  }
  &-menu{
    line-height: normal;
    display: none;
    .btn-menu{
      margin-right: -15px;
    }
  }
  &-social{
    display: none;
    text-align: center;
    line-height: normal;
    background: $bg_footer;
    padding: 30px 0;
    @include flex_align_self_end;
    a{
      opacity: 0.3;
      margin: 0 4px;
      &:hover{
        opacity: 0.99;
      }
    }
  }
}
@media(min-width: 941px) {
  .header-nav{
    display: block!important;
  }
}
@media(max-width: 940px) {
  .header{
    padding: 10px 0;
    line-height: 30px;
    &~.main{
      padding-top: 52px;
    }
    &-logo{
      z-index: 11;
      img{
        height: 30px;
      }
    }
    &-social{
      @include flex_col_full;
    }
    &-nav{
      display: none;
      position: fixed;
      top:0;
      left:-100%;
      height: 100%;
      width: 100%;
      padding-top: 80px;
      line-height: 38px;
      z-index: 9;
      background: $color-white;
      overflow-y: auto;
      &_content{
        @include block_flex;
        @include flex_wrap;
        height: 100%;
      }
      ul{
        @include flex_col_full;
      }
      li{
        display: block;
        margin: 0;
        &:after{
          display: none;
        }
        a{
          font-size: 20px;
          line-height: 60px;
          border-bottom: 3px solid transparent;
          font-family: $font_family_title;
          font-weight: 600;
        }
        &.active{
          a{
            border-bottom-color: $color_white;
            opacity: 1;
          }
        }
      }
      &.open{
        left: 0;
      }
    }
    &-menu{
      z-index: 11;
      display: block;
      .btn-border{
        min-width: 145px;
      }
    }
    &-social{
      display: block;
    }
  }
  .menu-open{
    overflow: hidden;
    .header-logo{
      opacity: 0.99!important;
    }
  }
}