.section-product{
  padding-top: 30px;
  padding-bottom: 60px;
  text-align: center;
  .text{
    max-width: 500px;
    margin: 0 auto;
  }
  &-list{
    margin-top: 65px;
    &_tabs{
      .nav-tabs{
        @include block_flex;
        li{
          width: 25%;
          a{
            display: block;
            text-align: center;
            border-bottom: 2px solid #D5E5FF;
            color: $color_text;
            font-size: 14px;
            text-transform: uppercase;
            padding: 20px;
            font-family: $font_family_title;
            font-weight: 600;
            .image{
              margin: 18px 0;
              img{
                height: 70px;
              }
            }
            &:hover{
              background: $bg_footer;
            }
          }
          &.active{
            a{
              border-color: $color_blue_1;
              background: $color_white;
            }
          }
        }
      }
      .tab-content{
        box-shadow: 0 6px 14px 0 rgba(5,55,136,0.05);
        background: $color_white;
      }
    }
  }
  &-item{
    @include block_flex;
    @include flex_wrap;
    @include flex_align_item_center;
    padding: 50px 20px 40px;
    &_image{
     padding-right: 20px;
      width: 25%;
    }
    &_content{
      text-align: left;
      width: 75%;
      .text{
        max-width: 100%;
        font-size: 14px;
        line-height: 1.85;
        margin-top: 0.5em;
        font-weight: 400;
      }
    }
  }
}
@media(max-width: 767px) {
  .section-product{
    padding-bottom: 0;
    &-list{
      margin-top: 30px;
      &_tabs .nav-tabs li a{
        padding-top: 0;
      }
    }
  }
}
@media(max-width: 520px) {
  .section-product{
    padding-bottom: 0;
    &-list{
      margin: 20px -20px 0;
      &_tabs .nav-tabs{
        white-space: nowrap;
        display: block;
        width: 100%;
        overflow-y: hidden;
        overflow-x: scroll;
        li{
          width: auto;
          display: inline-block;
          vertical-align: top;
          margin-left: -3px;
          a{
            line-height: 40px;
            padding: 5px 10px;
            width: auto;
            font-size: 11px;
            .image{
              float: left;
              margin: 0;
              img{
                height: 40px;
              }
            }
          }
        }
      }
    }
    &-item{
      padding: 20px;
      &_image{
        display: none;
      }
      &_content{
        width: 100%;
        .text{
          font-size: 13px;
        }
      }
    }
  }
}