<section class="section-product" id="product">
    <div class="container">
        <h2>Our products</h2>
        <div class="text">
            We are offering a safe and secure ecosystem for traders and investors
            to come together and profit from the market
        </div>
        <div class="section-product-list">
            <div class="section-product-list_tabs">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#product1" aria-controls="product1" role="tab" data-toggle="tab">
                        <div class="image"><img src="images/product/sociumHEX.svg" alt=""></div>
                        SociumHEX
                    </a></li>
                    <li role="presentation"><a href="#product2" aria-controls="product2" role="tab" data-toggle="tab">
                        <div class="image"><img src="images/product/sociumtrade.svg" alt=""></div>
                        SociumTrade
                    </a></li>
                    <li role="presentation"><a href="#product3" aria-controls="product3" role="tab" data-toggle="tab">
                        <div class="image"><img src="images/product/sociumlend.svg" alt=""></div>
                        SociumLend
                    </a></li>
                    <li role="presentation"><a href="#product4" aria-controls="product4" role="tab" data-toggle="tab">
                        <div class="image"><img src="images/product/brokergram.svg" alt=""></div>
                        Brokergram
                    </a></li>

                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="product1">
                        <div class="section-product-item">
                            <div class="section-product-item_image">
                                <img src="images/product/sociumHEX.svg" alt="">
                            </div>
                            <div class="section-product-item_content">
                                <h3>SociumHEX</h3>
                                <div class="text">
                                    The exchange uses decentralized wallets and an AI-driven trade engine, to give users maximum security and efficiency. The exchange will be able to handle both simple and exotic order types, and will come with integrated KYC and AML components that satisfy international standards.
                                </div>
                            </div>

                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="product2">
                        <div class="section-product-item">
                            <div class="section-product-item_image">
                                <img src="images/product/sociumtrade.svg" alt="">
                            </div>
                            <div class="section-product-item_content">
                                <h3>SociumTrade</h3>
                                <div class="text">
                                    The exchange uses decentralized wallets and an AI-driven trade engine, to give users maximum security and efficiency. The exchange will be able to handle both simple and exotic order types, and will come with integrated KYC and AML components that satisfy international standards.
                                </div>
                            </div>

                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="product3">
                        <div class="section-product-item">
                            <div class="section-product-item_image">
                                <img src="images/product/sociumlend.svg" alt="">
                            </div>
                            <div class="section-product-item_content">
                                <h3>SociumLend</h3>
                                <div class="text">
                                    The exchange uses decentralized wallets and an AI-driven trade engine, to give users maximum security and efficiency. The exchange will be able to handle both simple and exotic order types, and will come with integrated KYC and AML components that satisfy international standards.
                                </div>
                            </div>

                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="product4">
                        <div class="section-product-item">
                            <div class="section-product-item_image">
                                <img src="images/product/brokergram.svg" alt="">
                            </div>
                            <div class="section-product-item_content">
                                <h3>Brokergram</h3>
                                <div class="text">
                                    The exchange uses decentralized wallets and an AI-driven trade engine, to give users maximum security and efficiency. The exchange will be able to handle both simple and exotic order types, and will come with integrated KYC and AML components that satisfy international standards.
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>